<div class="panel panel-default">
    <div class="panel-heading">
        {{ step.id }}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'select.action'|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu step-actions-menu">
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-grammer-editor')">
                        {{ 'assign.grammer.editor'|trans }}
                    </a>
                </li>
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-spelling-editor')">
                        {{ 'assign.spelling.editor'|trans }}
                    </a>
                </li>
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-issue-to-author')">
                        {{ 'assign.issue.to.author'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.createBasicDialog(this)">
                        {{ 'create.issue'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.gotoReviewing(this)">
                        {{ 'go.to.reviewing'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.acceptSubmission(this)">
                        {{ 'accept.submission'|trans }}
                    </a>
                </li>
                <li>
                    <a onclick="OjsWorkflow.declineSubmission(this)">
                        {{ 'decline.submission'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <div class="panel-body">
        dialogs goes here
    </div>
</div>

<script>
    var stepOrder = 1;
</script>