<div class="panel panel-default">
    <div class="panel-heading">
        {{ step.id }}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'select.action'|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu step-actions-menu">
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-section-editor')">
                        {{ 'assign.section.editor'|trans }}
                    </a>
                </li>
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-reviewer')">
                        {{ 'assign.reviewer'|trans }}
                    </a>
                </li>
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'assign-spelling-editor')">
                        {{ 'assign.spelling.editor'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.createSpecificDialog(this, 'ask-author-for-correction')">
                        {{ 'ask.author.for.correction'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.createBasicDialog(this)">
                        {{ 'create.issue'|trans }}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a onclick="OjsWorkflow.acceptAndGotoArrangement(this)">
                        {{ 'accept.and.goto.arrangement'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <div class="panel-body">
        dialogs goes here
    </div>
</div>

<script>
    var stepOrder = 2;
</script>