<div class="panel panel-default">
    <div class="panel-heading">
        {% if permissionCheck().isGrantedForStep(step) and step.status == stepStatus('ACTIVE') %}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'select.action'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu step-actions-menu">
                    <li>
                        <a onclick="OjsWorkflow.createSpecificDialog(this)"
                           data-action-type="{{ actionType('ASSIGN_LAYOUT_EDITOR') }}">
                            {{ 'assign.layout.editor'|trans }}
                        </a>
                    </li>
                    <li>
                        <a onclick="OjsWorkflow.createSpecificDialog(this)"
                           data-action-type="{{ actionType('ASSIGN_COPY_EDITOR') }}">
                            {{ 'assign.copy.editor'|trans }}
                        </a>
                    </li>
                    <li>
                        <a onclick="OjsWorkflow.createSpecificDialog(this)"
                           data-action-type="{{ actionType('ASSIGN_PROOF_READER') }}">
                            {{ 'assign.proof.reader'|trans }}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a onclick="OjsWorkflow.createDialogWithAuthor(this)"
                           data-action-type="{{ actionType('ASK_AUTHOR_FOR_CORRECTION') }}">
                            {{ 'ask.author.for.correction'|trans }}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a onclick="OjsWorkflow.createBasicDialog(this)"
                           data-action-type="{{ actionType('CREATE_ISSUE') }}">
                            {{ 'create.issue'|trans }}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a onclick="OjsWorkflow.finishWorkflow(this)"
                           data-action-type="{{ actionType('FINISH_WORKFLOW') }}">
                            {{ 'finish.workflow'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <br>
        <br>
    </div>
    <div class="panel-body" id="dialogs-box-3">
        {{ 'installing.dialogs'|trans }}...
    </div>
</div>

<script>
    var stepOrder = 3;
    OjsWorkflow.loadDialogs();
</script>