{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.workflow_settings'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'title': 'title.workflow_settings'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h2>{{ 'title.workflow_settings'|trans }}</h2>
    {% include '::flashbag.html.twig' %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-warning"></i>
        {{ 'wf.each.change.will.effect.hereafter'|trans }}
    </div>
    <button class="btn btn-default btn-sm" onclick="OjsWorkflow.basicJournalWfSetting(this)" href="{{ path('dergipark_workflow_basic_settings', {journalId: selectedJournal().id}) }}">
        {{ 'workflow.basic_settings'|trans }}
    </button>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'workflow.step'|trans }}</th>
                <th>{{ 'workflow.step.order'|trans }}</th>
                <th>{{ 'workflow.step.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for step in steps %}
                <tr>
                    <th>{{ ('wf.step.'~journalStepAlias(step.order))|trans }}</th>
                    <th>{{ step.order }}</th>
                    <th>
                        <button class="btn btn-primary btn-sm" onclick="OjsWorkflow.stepGrantedUsersSetup(this, {{ step.order }})">
                            <i class="fa fa-users" data-toggle="tooltip" data-title="{{ 'wf.step.granted.users.setup'|trans }}"></i>
                        </button>
                        <button class="btn btn-success btn-sm" onclick="OjsWorkflow.showStepDetail(this, {{ step.order }})">
                            <i class="fa fa-info-circle" data-toggle="tooltip"  data-title="{{ 'show.step.detail'|trans }}"></i>
                        </button>
                        <a class="btn btn-primary btn-sm" href="{{ path('dp_workflow_review_form', {journalId: selectedJournal().id, stepId: step.id}) }}">
                            <i class="fa fa-comments-o" data-toggle="tooltip"  data-title="{{ 'show.review.forms'|trans }}"></i>
                        </a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="hidden">
        <div id="wf-step-description-1">
            <p>
                {{ 'wf.step.pre.control.description'|trans }}
            </p>
        </div>
        <div id="wf-step-description-2">
            <p>
                {{ 'wf.step.review.description'|trans }}
            </p>
        </div>
        <div id="wf-step-description-3">
            <p>
                {{ 'wf.step.arrangement.description'|trans }}
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var journalId = {{ journal.id }};
    </script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ asset('bundles/dergiparkworkflow/js/workflow/workflow.js') }}"></script>
{% endblock %}
