{% for dialog in dialogs %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-dialog">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ actionAlias(dialog.dialogType)~'.dialog.header'|trans }}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    {{ 'close'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    {{ 'some.action'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div><br>
                    {% for user in dialog.users %}
                        {{ user }}<br>
                    {% endfor %}
                </div>
                <div class="panel-body panel-dialog-body">
                    <ul class="dialog-box" id="dialog-posts-{{ dialog.id }}">
                        <script>
                            OjsWorkflow.loadPosts({{ dialog.id }});
                        </script>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm dialog-comment-input" placeholder="{{ 'type.comment.here'|trans }}" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" onclick="OjsWorkflow.sendComment(this, {{ dialog.id }})">
                                <i class="fa fa-comment"></i>
                                {{ 'add.comment'|trans }}
                            </button>
                            <button class="btn btn-default btn-sm" onclick="OjsWorkflow.sendFile(this, {{ dialog.id }})">
                                <i class="fa fa-file-archive-o"></i>
                                {{ 'workflow.send.file'|trans }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}