<div class="row">
    <div class="col-md-12">
        {% if dialog.status == dialogStatus('CLOSED') %}
            {% set panelClass = 'success' %}
        {% else %}
            {% set panelClass = 'default' %}
        {% endif %}
        <div class="panel panel-{{ panelClass }}">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                {% if dialog.dialogType == actionType('CREATE_ISSUE') %}
                    <b>{{ dialog.title }}</b>
                {% else %}
                    <b>{{ (actionAlias(dialog.dialogType)~'.dialog.header')|trans }}</b>
                {% endif %}
                {% if dialog.status == dialogStatus('CLOSED') %}
                    <span class="label label-success">
                            <i class="fa fa-check-circle"></i>
                        {{ 'finished.dialog'|trans }}
                        </span>
                {% endif %}
                <div class="btn-group pull-right">
                    {% if dialog.status == dialogStatus('ACTIVE') %}
                        <button class="btn btn-default btn-xs" onclick="OjsWorkflow.finishDialogAction({{ dialog.id }})">
                            {{ 'close.dialog.action'|trans }}
                        </button>
                        <button class="btn btn-default btn-xs" onclick="OjsWorkflow.loadPosts({{ dialog.id }})">
                            <i class="fa fa-refresh"></i>
                        </button>
                    {% elseif dialog.status == dialogStatus('CLOSED') and dialog.step.status == stepStatus('ACTIVE') %}
                        {% if permissionCheck().isGrantedForStep(dialog.step) %}
                            <button class="btn btn-default btn-xs" onclick="OjsWorkflow.reopenDialog({{ dialog.id }})">
                                {{ 'reopen.dialog'|trans }}
                            </button>
                        {% endif %}
                    {% endif %}
                    <button class="btn btn-default btn-xs" data-toggle="collapse" href="#collapse-panel-{{ dialog.id }}">
                        <i class="fa fa-expand"></i>
                    </button>
                </div>
                <br>
                {{ 'assigned.to'|trans }}:
                {% for user in dialog.users %}
                    {{ profileLink(user) }} {% if not loop.last %},{% endif %}
                {% endfor %}
                <br>
                {{ 'created.by'|trans }}:
                {{ profileLink(dialog.createdDialogBy) }}
                <br>
                <small>
                    {{ 'dialog.created.at'|trans }}:
                    {{ dialog.openedAt|date('Y-m-d H:i') }}
                    ( <abbr title="{{ dialog.openedAt|date('Y-m-d H:i:s') }}" class="ago">{{ dialog.openedAt|date('Y-m-d H:i:s') }}</abbr> )
                </small>
            </div>
            <div id="collapse-panel-{{ dialog.id }}" class="collapse in">
                <div class="panel-body panel-dialog-body">
                    <ul class="dialog-box" id="dialog-posts-{{ dialog.id }}">
                        {{ 'loading.posts'|trans }}...
                        <script>
                            OjsWorkflow.loadPosts({{ dialog.id }});
                        </script>
                    </ul>
                </div>
                {% if dialog.status == dialogStatus('ACTIVE') %}
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm dialog-comment-input" placeholder="{{ 'type.comment.here'|trans }}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-sm" onclick="OjsWorkflow.sendComment(this, {{ dialog.id }})">
                                        <i class="fa fa-comment"></i>
                                        {{ 'add.comment'|trans }}
                                    </button>
                                    {% if permissionCheck().isGrantedForStep(dialog.step) %}
                                        {% if dialog.dialogType == actionType('ASK_AUTHOR_FOR_CORRECTION') %}
                                            <button class="btn btn-success btn-sm"
                                                    onclick="OjsWorkflow.browseReviewFormResponses(this, {{ dialog.id }})"
                                                    data-toggle="tooltip" title="{{ 'workflow.send.review.form.response'|trans }}">
                                                <i class="fa fa-comments-o"></i>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-success btn-sm"
                                                    onclick="OjsWorkflow.browseReviewForms(this, {{ dialog.id }})"
                                                    data-toggle="tooltip" title="{{ 'workflow.send.review.form'|trans }}">
                                                <i class="fa fa-comments-o"></i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    <button class="btn btn-warning btn-sm"
                                            onclick="OjsWorkflow.browseFiles(this, {{ dialog.id }})"
                                            data-toggle="tooltip" title="{{ 'workflow.send.file'|trans }}">
                                        <i class="fa fa-file-text"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>