<div class="panel panelx panel-default">
    <div class="panel-leftheading">
        <i class="fa fa-info-circle fa-2x"></i>
    </div>
    <div class="panel-rightbody">
        {% for translation in article.translations %}
            <div class="well">
                {% if translation.title is not null %}
                    <strong>{{ 'article.title'|trans }} ({{ translation.locale }}): {{ translation.title }}</strong>
                    {% include 'OjsWorkflowBundle:ArticleWorkflow:article_detail/searchon.html.twig' %}
                    <br>
                {% endif %}
                {% if translation.abstract is null %}
                    <div>{{ 'article.abstract'|trans }} ({{ translation.locale }}): -</div>
                {% else %}
                    <div>{{ 'article.abstract'|trans }} ({{ translation.locale }}): <i>{{ translation.abstract|trim|raw }}</i></div>
                {% endif %}
                {% if translation.keywords is null %}
                    <div>{{ 'keywords'|trans }} ({{ translation.locale }}): -</div>
                {% else %}
                    <div>{{ 'keywords'|trans }} ({{ translation.locale }}): {{ translation.keywords }}</div>
                {% endif %}
            </div>
        {% endfor %}
        {% if article.articleSubmissionFiles|length > 0 and permissionCheck().isGrantedForStep(workflow.currentStep) %}
            <div class="well">
                <h5>{{ 'title.submission_files'|trans }}</h5>
                <ul>
                    {% for submissionFile in article.articleSubmissionFiles %}
                        <li>
                            <a href="{{ asset('uploads/submissionfiles/'~submissionFile.file) }}" target="_blank"> {{ submissionFile.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if article.articleFiles|length > 0 and permissionCheck().isGrantedForStep(workflow.currentStep) %}
            <div class="well">
                <h5>{{ 'title.article_files'|trans }}</h5>
                <ul>
                    {% for articleFile in article.articleFiles %}
                        <li>
                            <a href="{{ asset('uploads/articlefiles/'~articleFile.file) }}" target="_blank"> {{ articleFile.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if workflow.status == workflowStatus('ACTIVE')
                and journalStepAlias(workflow.currentStep.order) == 'review' %}
                    <hr>
                    <h5>{{ 'title.workflow.review.version.file'|trans }}</h5>
                    <input
                            type="file"
                            name="article_file_file_file"
                            data-url="{{ path('_uploader_upload_articlefiles') }}"
                            id="workflow-file-upload-hidden-input"
                            class="hidden" />
                    <button class="btn btn-default btn-sm"
                            onclick="OjsWorkflow.uploadCustomFile()">
                        {{ 'upload.file'|trans }}
                    </button>
                    {% if workflow.reviewVersionFile is not empty %}
                        <a href="/uploads/articlefiles/{{ workflow.reviewVersionFile }}" target="_blank">
                            {{ 'look.review.version.file'|trans }}
                            <i class="fa fa-external-link"></i>
                        </a>
                    {% else %}
                        {{ 'not.uploaded'|trans }}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {% if permissionCheck().isReviewerOnWorkflow(workflow) == false or workflowSettings.doubleBlind == false %}
            <div class="well">
                <h5>{{ 'author.details'|trans }}</h5>
                <h6>{{ 'submitter.author'|trans }}</h6>
                <pre>{{ 'fullname'|trans }}: {{ article.submitterUser.fullName }}
{{ 'username'|trans }}: {{ article.submitterUser.userName }}
{{ 'profile'|trans }}: {{ profileLink(article.submitterUser) }}
{{ 'notes_to_editor'|trans }}: {{ article.note }}</pre>
                <h6>{{ 'article.authors'|trans }}</h6>
                {% for articleAuthor in article.articleAuthors %}
                    <pre>{{ authorSearchLink(articleAuthor.author) }}({{ articleAuthor.author.email }})</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% set articleEditors = articleEditors(workflow) %}
        {% if articleEditors|length > 0 %}
            <div class="well">
                <h5>{{ 'article.editors'|trans }}</h5>
                {% for articleEditor in articleEditors %}
                    <a href="{{ path('ojs_user_profile', {slug: articleEditor.username}) }}" target="_blank">
                        {{ articleEditor.fullName }}
                    </a><br>
                {% endfor %}
            </div>
        {% endif %}
        {% if permissionCheck().isGrantedForEditArticleMetadata(workflow) %}
            <button  class="btn btn-success" onclick="OjsWorkflow.editArticleMetadata(this)"
                href="{{ path('ojs_workflow_edit_article_metadata', {journalId: selectedJournal().id, workflowId: workflow.id}) }}">
                {{ 'title.article_edit_metadata'|trans }}
            </button>
        {% endif %}
        {% if permissionCheck().isHaveEditorRole() %}
            <a target="_blank" href="{{ path('ojs_journal_article_show', {journalId: selectedJournal().id, id: article.id}) }}" class="btn btn-primary">
                {{ 'title.article_show_and_edit'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="clearfix">
    </div>
</div>

<script>
    OjsWorkflow.refreshTooltip();
    $(function () {
        $('#workflow-file-upload-hidden-input').fileupload({
            dataType: 'json',
            done: function (e, data) {
                OjsWorkflow.uploadReviewVersionFile(data);
            }
        });
    });
</script>