{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.review_form_new'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('dergipark_workflow_step_index', {'journalId': selectedJournal().id}),'title': 'title.workflow_settings'|trans},
        {'title': 'title.review_form_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@DergiparkWorkflowBundle/Resources/public/css/review-form/*'  output="assets/prod/css/review_form.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.review_form_new'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.active) }}
        {{ form_row(form.name) }}
        {{ form_widget(form.content) }}
        <hr>
        <div id="fb-editor" class="well"></div>
        <div id="fb-rendered-form" class="well">
            <div id="fb-rendered-form-div"></div>
            <button class="btn btn-primary pull-right" type="button" id="edit-form">{{ 'resume.to.edit'|trans }}</button>
            <br>
        </div>
        <hr>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@DergiparkWorkflowBundle/Resources/public/js/review-form/*' output="assets/prod/js/review_form.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
