{% set hideleft = true %}
{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.review_form_show'|trans }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@VipaWorkflowBundle/Resources/public/css/review-form/*'  output="assets/prod/css/review_form.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .render-wrap {
            display: block;
        }
        .build-wrap{
            display: none;
        }
        @media print {
            body * {
                visibility: hidden;
            }
            #download-content, #download-content * {
                visibility: visible;
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    <div id="download-content">
        <h1 class="text-center">{{ reviewForm.name }}</h1>

        <div class="row">
            <div class="col-lg-8 col-md-push-2">
                <div class="build-wrap well col-lg-8 push-left-2">
                    <textarea id="journal_review_form_content">
                        {{ reviewForm.content }}
                    </textarea>
                </div>
                <form id="form-render-wrap">
                    <div class="render-wrap well"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-push-2">
            <button class="btn btn-success pull-right" id="download-pdf">{{ 'print.or.save'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {
            var template = document.getElementById('journal_review_form_content');
            $('.render-wrap').formRender({
                formData: $(template).text()
            });
            var form = document.getElementById("form-render-wrap");
            var elements = form.elements;
            for (var i = 0, len = elements.length; i < len; ++i) {
                elements[i].readOnly = true;
                elements[i].disabled = true;
            }

            $('#download-pdf').on('click', function(){
                window.print();
            });
        });
    </script>
{% endblock %}
