<table class="table table-hover" id="browse-files-table">
    <thead>
        <tr>
            <th colspan="3">
                <h4 class="text-center">{{ 'workflow.related.files'|trans }}</h4>
            </th>
        </tr>
        <tr>
            <th>{{ 'select'|trans }}</th>
            <th>{{ 'file.name'|trans }}</th>
            <th>{{ 'look.file'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
            <tr>
                <th>
                    <input type="checkbox" data-file-original-name="{{ file.originalname }}" data-file-name="{{ file.filename }}"/>
                </th>
                <th>{{ file.originalname  }}</th>
                <th>
                    <a href="{{ file.filepath }}" target="_blank">
                        <i class="fa fa-external-link"></i>
                    </a>
                </th>
            </tr>
        {% endfor %}
    </tbody>
    <thead>
        <tr>
            <th colspan="3">
                <h4 class="text-center">{{ 'uploaded.files'|trans }}</h4>
            </th>
        </tr>
        <tr>
            <th>{{ 'select'|trans }}</th>
            <th>{{ 'file.name'|trans }}</th>
            <th>{{ 'look.file'|trans }}</th>
        </tr>
    </thead>
    <tbody id="upload-custom-file-body">
        <tr class="hidden upload-file-expose-template">
            <th>
                <input type="checkbox" data-file-original-name="" data-file-name="" checked/>
            </th>
            <th></th>
            <th>
                <a href="" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </th>
        </tr>
        <tr id="upload-button-box">
            <th colspan="3" class="text-center">
                <input
                        type="file"
                        name="article_file_file_file"
                        data-url="{{ path('_uploader_upload_articlefiles') }}"
                        id="workflow-file-upload-hidden-input"
                        class="hidden" />

                <button class="btn btn-default btn-sm"
                        onclick="OjsWorkflow.uploadCustomFile()">
                    {{ 'upload.file'|trans }}
                </button>
            </th>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" onclick="OjsWorkflow.sendSelectedFiles({{ dialogId }})">
    {{ 'send.selected.files'|trans }}
</button>

<script>
    $(function () {
        $('#workflow-file-upload-hidden-input').fileupload({
            dataType: 'json',
            done: function (e, data) {
                OjsWorkflow.exposeUploadedFile(data);
            }
        });
    });
</script>