{% for post in posts %}
    {% if post.sendedBy.username == app.user.username %}
        <li class="right clearfix">
            <span class="dialog-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff&text={{ 'you'|trans }}" class="img-circle"/>
            </span>
            <div class="dialog-box-body clearfix">
                <div class="header">
                    <small class=" text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <abbr title="{{ post.sendedAt|date('Y-m-d H:i:s') }}" class="ago">{{ post.sendedAt|date('Y-m-d H:i:s') }}</abbr>
                    </small>
                    <strong class="pull-right primary-font">
                        {{ 'you'|trans }}
                    </strong>
                </div>
                <p>
                    {% if post.type == filePostType %}
                        <a href="/uploads/articlefiles/{{ post.fileName }}" target="_blank">
                            {{ post.fileOriginalName }}
                        </a>
                    {% elseif post.type == textPostType %}
                        {{ post.text }}
                    {% endif %}
                </p>
            </div>
        </li>
    {% else %}
        <li class="left clearfix">
            <span class="dialog-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text={{ 'assigned'|trans }}" alt="User Avatar" class="img-circle" />
            </span>
            <div class="dialog-box-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ post.sendedBy.username }}
                    </strong>
                    <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <abbr title="{{ post.sendedAt|date('Y-m-d H:i:s') }}" class="ago">{{ post.sendedAt|date('Y-m-d H:i:s') }}</abbr>
                    </small>
                </div>
                <p>
                    {{ post.text }}
                </p>
            </div>
        </li>
    {% endif %}
{% else %}
    <h6 class="text-center">{{ 'no.post'|trans }}</h6>
{% endfor %}
<script>
    OjsWorkflow.refreshAgoPlugin();
</script>