{% for post in posts %}
    {% if post.sendedBy.username == app.user.username %}
        <li class="right clearfix">
            <span class="dialog-img pull-right">
                {% if post.sendedBy.avatar %}
                    <img class="img-circle workflow-dialog-avatar" src="{{ post.sendedBy.avatar|imagine_filter('user_croped') }}"/>
                {% else %}
                    <img class="img-circle workflow-dialog-avatar" src="{{ asset('assets/app/images/buddy_sample.png') }}"/>
                {% endif %}
            </span>
            <div class="dialog-box-body clearfix">
                <div class="header">
                    <small class=" text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <abbr title="{{ post.sendedAt|date('Y-m-d H:i:s') }}" class="ago">{{ post.sendedAt|date('Y-m-d H:i:s') }}</abbr>
                    </small>
                    <strong class="pull-right primary-font">
                        {{ profileLink(post.sendedBy) }}
                    </strong>
                </div>
                <p class="text-right">
                    {% include 'OjsWorkflowBundle:DialogPost:_post_content.html.twig' %}
                </p>
            </div>
        </li>
    {% else %}
        <li class="left clearfix">
            <span class="dialog-img pull-left">
                {% if post.sendedBy.avatar %}
                    <img class="img-circle workflow-dialog-avatar" src="{{ post.sendedBy.avatar|imagine_filter('user_croped') }}"/>
                {% else %}
                    <img class="img-circle workflow-dialog-avatar" src="{{ asset('assets/app/images/buddy_sample.png') }}"/>
                {% endif %}
            </span>
            <div class="dialog-box-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        {{ profileLink(post.sendedBy) }}
                    </strong>
                    <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <abbr title="{{ post.sendedAt|date('Y-m-d H:i:s') }}" class="ago">{{ post.sendedAt|date('Y-m-d H:i:s') }}</abbr>
                    </small>
                </div>
                <p>
                    {% include 'OjsWorkflowBundle:DialogPost:_post_content.html.twig' %}
                </p>
            </div>
        </li>
    {% endif %}
{% else %}
    <h6 class="text-center">{{ 'no.post'|trans }}</h6>
{% endfor %}
<script>
    OjsWorkflow.refreshAgoPlugin();
</script>