{% block _specific_form %}
    <h4 class="text-center">{{ (actionAlias~'.form.header')|trans }}</h4>
    <div class="well">
        {{ include('::flashbag.html.twig') }}
        {{ form(form) }}
        <button class="btn btn-success" onclick="OjsWorkflow.postSpecificDialog(this)">{{ (actionAlias~'.create.button')|trans }}</button>
    </div>
    <style>
        .select2-dropdown {
            z-index: 9001;
        }
    </style>
    <script>
        $('.select2entity').select2entity();
    </script>
{% endblock %}

{% block _assign_section_editor_form %}
    <h4 class="text-center">
        {{ (actionAlias~'.form.header')|trans }}
    </h4>
    <div class="well">
        {{ include('::flashbag.html.twig') }}
        {{ form_start(form) }}
        <div class="btn-group pull-right" role="group">
            <button class="btn btn-primary btn-xs browse-users-button" onclick="OjsWorkflow.browseSectionEditorUsers();" type="button">
                {{ 'browse.review.users'|trans }}
            </button>
        </div>
        {{ form_row(form.users) }}
        {{ form_end(form) }}
        <button class="btn btn-success" onclick="OjsWorkflow.postSpecificDialog(this)">
            {{ (actionAlias~'.create.button')|trans }}
        </button>
    </div>
    <style>
        .select2-dropdown {
            z-index: 9001;
        }
    </style>
    <script>
        $('.select2entity').select2entity();
    </script>
{% endblock %}

{% block _basic_form %}
    <h4 class="text-center">{{ (actionAlias~'.form.header')|trans }}</h4>
    <div class="well">
        {{ include('::flashbag.html.twig') }}
        {{ form(form) }}
        <button class="btn btn-success" onclick="OjsWorkflow.postBasicDialog(this)">{{ (actionAlias~'.create.button')|trans }}</button>
    </div>
    <style>
        .select2-dropdown {
            z-index: 9001;
        }
    </style>
    <script>
        $('.select2entity').select2entity();
    </script>
{% endblock %}

{% block _assign_reviewer %}
    <h4 class="text-center">{{ (actionAlias~'.form.header')|trans }}</h4>
    <div class="well">
        {{ include('::flashbag.html.twig') }}
        {{ form_start(form) }}
            {{ form_label(form.title) }} <small>({{ 'optional'|trans }})</small>
            <div class="input-group">
                <div class="input-group-addon">{{ '_assign_reviewer.dialog.header'|trans }} - </div>
                {{ form_widget(form.title) }}
            </div>
            <br>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-primary btn-xs browse-users-button" onclick="OjsWorkflow.browseReviewerUsers();" type="button">
                    {{ 'browse.review.users'|trans }}
                </button>
                <button class="btn btn-default btn-xs" type="button" onclick="OjsWorkflow.createReviewerUser();">
                    <i class="fa fa-plus"></i>
                    {{ 'create.reviewer.user'|trans }}
                </button>
            </div>
            {{ form_row(form.users) }}
        {{ form_end(form) }}
        <button class="btn btn-success" onclick="OjsWorkflow.postAssignReviewerDialog(this)">
            {{ (actionAlias~'.create.button')|trans }}
        </button>
    </div>
    <style>
        .select2-dropdown {
            z-index: 9001;
        }
    </style>
    <script>
        $('.select2entity').select2entity();
    </script>
{% endblock %}

{% block _ask_author_for_correction %}
    <h4 class="text-center">{{ (actionAlias~'.form.header')|trans }}</h4>
    <div class="well">
        {{ include('::flashbag.html.twig') }}
        {{ form_start(form) }}
        {{ form_label(form.title) }} <small>({{ 'optional'|trans }})</small>
        <div class="input-group">
            <div class="input-group-addon">{{ '_ask_author_for_correction.dialog.header'|trans }} - </div>
            {{ form_widget(form.title) }}
        </div>
        <br>
        {{ form_end(form) }}
        <button class="btn btn-success" onclick="OjsWorkflow.postAssignAuthorDialog(this)">
            {{ (actionAlias~'.create.button')|trans }}
        </button>
    </div>
    <style>
        .select2-dropdown {
            z-index: 9001;
        }
    </style>
{% endblock %}
