{% extends '::vipabase.html.twig' %}
{% block title %}{{ timeline.article.title }}:{{ 'wf.article.timeline'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link':  path('vipa_journal_dashboard_index', {journalId: timeline.journal.id}), 'title': 'dashboard'|trans},
    {'link':  path('vipa_workflow_flow_active', {journalId: timeline.journal.id}), 'title': 'wf.active_articles'|trans},
    {'title': 'wf.article.timeline'|trans ~ ': ' ~ timeline.article.title  }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@VipaWorkflowBundle/Resources/public/css/workflow/*'  output="assets/prod/css/article_workflow.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}

    {% include 'VipaWorkflowBundle:ArticleWorkflow:_steps_breadcrumb.html.twig' %}
    <br><hr class="top30">
    <div class="timeline">
    </div>

    <div class="hidden">
        <div id="wf-step-description-1">
            <p>
                {{ 'wf.step.pre.control.description'|trans|raw }}
            </p>
        </div>
        <div id="wf-step-description-2">
            <p>
                {{ 'wf.step.review.description'|trans|raw }}
            </p>
        </div>
        <div id="wf-step-description-3">
            <p>
                {{ 'wf.step.arrangement.description'|trans|raw }}
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var journalId = {{ timeline.journal.id }};
        var workflowId = {{ timeline.workflow.id }};
        var articleId = {{ timeline.article.id }};
    </script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    {% javascripts '@VipaWorkflowBundle/Resources/public/js/workflow/*' output="assets/prod/js/article_workflow.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            VipaWorkflow.loadStep({{ timeline.workflow.currentStep.order }});
        });
    </script>
{% endblock %}